# EditorConfig for multi-module C++ project on Windows
root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

# C++ source files
[*.{cpp,h,hpp}]
indent_style = space
indent_size = 4

# CMake files
[CMakeLists.txt]
indent_style = space
indent_size = 2

[*.cmake]
indent_style = space
indent_size = 2

# Visual Studio project files
[*.{vcxproj,vcxproj.filters,props,targets}]
indent_style = space
indent_size = 2

# Makefiles
[Makefile]
indent_style = tab
indent_size = 4

# Text files
[*.txt]
indent_size = 4
